In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')

In [2]:
df = pd.read_excel(r"D:\Ultimate Programming\Data Bases\Machine Learning Datasets\Classification\Customer Churn Prediction.xlsx")

In [3]:
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

In [4]:
df.drop(columns=['customerID', 'MultipleLines', 'Contract'], axis=1, inplace=True)

In [5]:
df.isnull().sum().sum()

np.int64(11)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   InternetService   7043 non-null   object
 7   OnlineSecurity    7043 non-null   object
 8   OnlineBackup      7043 non-null   object
 9   DeviceProtection  7043 non-null   object
 10  TechSupport       7043 non-null   object
 11  StreamingTV       7043 non-null   object
 12  StreamingMovies   7043 non-null   object
 13  PaperlessBilling  7043 non-null   object
 14  PaymentMethod     7043 non-null   object
 15  MonthlyCharges    7043 non-null   float64
 16  TotalCharges      7032 non-null   float64
 17  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(14)
memory usage: 990.6+ KB

In [7]:
df.head(2)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,DSL,No,Yes,No,No,No,No,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,DSL,Yes,No,Yes,No,No,No,No,Mailed check,56.95,1889.50,No

In [8]:
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline, Pipeline

In [9]:
df.drop_duplicates(inplace=True)

In [10]:
df['PaymentMethod'].value_counts()

PaymentMethod
Electronic check             2359
Mailed check                 1595
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: count, dtype: int64

In [11]:
ms = LabelEncoder()
x = df.iloc[ : , :-1]
y = ms.fit_transform(df['Churn'])

In [12]:
x.shape

(7020, 17)

In [13]:
x.head(2)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,Female,0,Yes,No,1,No,DSL,No,Yes,No,No,No,No,Yes,Electronic check,29.85,29.85
1,Male,0,No,No,34,Yes,DSL,Yes,No,Yes,No,No,No,No,Mailed check,56.95,1889.50

In [14]:
trf1 = ColumnTransformer(transformers=[
    ('total_charges', SimpleImputer(), [16])
], remainder='passthrough')

In [15]:
x_trans = trf1.fit_transform(x)

In [16]:
x.shape

(7020, 17)

In [17]:
# trf2 = ColumnTransformer(transformers=[
#     ('gender', OneHotEncoder(drop='first', sparse_output=False), [0]),
#     ('partner', OneHotEncoder(drop='first', sparse_output=False), [2]),
#     ('dependent', OneHotEncoder(drop='first', sparse_output=False), [3]),
#     ('phone_service', OneHotEncoder(drop='first', sparse_output=False), [5]),
#     ('internet_srvice', OneHotEncoder(drop='first', sparse_output=False), [6]),
#     ('online_secuirity', OneHotEncoder(drop='first', sparse_output=False), [7]),
#     ('online_backup', OneHotEncoder(drop='first', sparse_output=False), [8]),
#     ('device_protection', OneHotEncoder(drop='first', sparse_output=False), [9]),
#     ('tech_support', OneHotEncoder(drop='first', sparse_output=False), [10]),
#     ('streming_tv', OneHotEncoder(drop='first', sparse_output=False), [11]),
#     ('streming_movie', OneHotEncoder(drop='first', sparse_output=False), [12]),
#     ('paperless_bill', OneHotEncoder(drop='first', sparse_output=False), [13]),
#     ('payment_method', OneHotEncoder(drop='first', sparse_output=False), [14]),
# ], remainder='passthrough')

In [18]:
categorical_cols = [
    'gender', 'Partner', 'Dependents', 'PhoneService',
    'InternetService', 'OnlineSecurity', 'OnlineBackup',
    'DeviceProtection', 'TechSupport', 'StreamingTV',
    'StreamingMovies', 'PaperlessBilling', 'PaymentMethod'
]

In [19]:
trf2 = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(drop='first', sparse_output=False), categorical_cols)
    ],
    remainder='passthrough'
)

In [42]:
# trf2 = ColumnTransformer(
#     transformers=[
#         ('trf', OneHotEncoder(drop='first', sparse_output=False), [0, 2,3,5,6,7,8,9,10,11,12,13,14])
#     ], remainder='passthrough'
# )

In [21]:
x_trans = trf2.fit_transform(x)

ValueError: Specifying the columns using strings is only supported for dataframes.

In [44]:
x.shape

(7020, 6624)

In [17]:
x_scaled = trf2.fit_transform(x)

In [18]:
x_scaled = pd.DataFrame(x_scaled)
x_scaled.head(2)

,0,1,2,3,4,5,6,7,8,9,...,6614,6615,6616,6617,6618,6619,6620,6621,6622,6623
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,Female,No,Electronic check,29.85
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,Male,No,Mailed check,56.95

In [19]:
print(x_scaled.shape)

(7020, 6624)

In [20]:
mms = StandardScaler()

trf3 = ColumnTransformer(transformers=[
    ('scaler', StandardScaler(), slice(0, 26))
])

In [ ]:
x = trf3.fit_transform(x)

In [ ]:
x.shape

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import accuracy_score

In [ ]:
models = {
    'Logistic Regression' : LogisticRegression(),
    'Logistic Regression cv' : LogisticRegressionCV(),
    'Decision Tree' : DecisionTreeClassifier(),
    'Random Forest' : RandomForestClassifier(),
    'Support Vector' : SVC(),
    'Naive Bayes' : BernoulliNB()
}

In [ ]:
for name, model in models.items():
    pipeline = Pipeline([
        ('trf1', trf1),
        ('trf2', trf2),
        ('trf3', trf3),
        ('classifier', model)
    ])
    pipeline.fit(x_train, y_train)
    y_pred = pipeline.predict(x_test)
    acc = accuracy_score(y_test, y_pred)
    print(f"{name} Accuracy: {acc:.4f}")

In [ ]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
lr.fit(x_train, y_train)

In [ ]:
lr.score(x_test, y_test)*100

## Over Sampling

In [ ]:
y.value_counts()

In [ ]:
from imblearn.over_sampling import RandomOverSampler
ro = RandomOverSampler()
ro_x, ro_y = ro.fit_resample(x, y)

In [ ]:
ro_y.value_counts()

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(ro_x, ro_y, test_size=0.2, random_state=42)

In [ ]:
lr2 = LogisticRegression()
lr2.fit(x_train, y_train)

In [ ]:
lr2.score(x_test, y_test)*100

## Confusion Matrix

In [ ]:
from sklearn.metrics import confusion_matrix, precision_score, recall_score, f1_score

In [ ]:
cm = confusion_matrix(y_test, lr2.predict(x_test))

In [ ]:
sns.heatmap(cm, annot=True)
plt.show()

In [ ]:
print(precision_score(y_test, lr.predict(x_test))*100)
print(recall_score(y_test, lr.predict(x_test))*100)
print(f1_score(y_test, lr.predict(x_test))*100)

## Naive Bayes Algorithm

In [ ]:
ros = RandomOverSampler()
ros_x, ros_y = ros.fit_resample(x, y)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(ros_x, ros_y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB, BernoulliNB

In [ ]:
gnb = GaussianNB()
gnb.fit(x_train, y_train)

In [ ]:
gnb.score(x_test, y_test)*100

In [ ]:
bnb = BernoulliNB()
bnb.fit(x_train, y_train)

In [ ]:
bnb.score(x_test, y_test)*100