In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

df = sns.load_dataset('titanic')
df.drop(columns=df.columns[[1, 2, 3, 6, 7, 8, 9, 10, 11, 12, 13, 14]], axis=1, inplace=True)

In [2]:
df.head(2)

   survived  sibsp  parch
0         0      1      0
1         1      1      0

In [3]:
df['family_size'] = df['sibsp'] + df['parch'] + 1

In [4]:
df.head(2)

   survived  sibsp  parch  family_size
0         0      1      0            2
1         1      1      0            2

In [5]:
def myFunc(num):
    if num == 0 : return 0
    elif 0 < num < 4: return 1
    else : return 2

In [6]:
df['family_type'] = df['family_size'].apply(myFunc)

In [7]:
df.head(2)

   survived  sibsp  parch  family_size  family_type
0         0      1      0            2            1
1         1      1      0            2            1