In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv(r"D:\Ultimate Programming\Data Bases\Machine Learning Datasets\Regression\cars_columnTransformation.csv")

In [3]:
df.sample(3)

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
30470,Mazda,626,mechanical,other,344000,1998,diesel,False,diesel,2.0,...,True,False,True,False,False,False,False,False,True,82
34451,Mercedes-Benz,E220,automatic,black,320000,2001,diesel,False,diesel,2.2,...,False,False,False,True,False,False,False,True,False,27
21751,Audi,A6,automatic,black,180000,2009,diesel,False,diesel,2.0,...,True,True,True,True,True,True,True,True,True,90

In [4]:
df.isnull().sum().sum()

np.int64(10)

In [5]:
df.drop_duplicates(inplace=True)

In [6]:
df.drop(columns=['feature_0', 'feature_1', 'feature_2', 'feature_3', 'feature_4', 'feature_5', 'feature_6', 'feature_7', 'feature_8', 'feature_9', 'has_warranty', 'is_exchangeable', 'location_region'], axis=1, inplace=True)

In [7]:
df.head(2)

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,body_type,state,drivetrain,price_usd,number_of_photos,up_counter,duration_listed
0,Subaru,Outback,automatic,silver,190000,2010,gasoline,False,gasoline,2.5,universal,owned,all,10900.0,9,13,16
1,Subaru,Outback,automatic,blue,290000,2002,gasoline,False,gasoline,3.0,universal,owned,all,5000.0,12,54,83

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38491 entries, 0 to 38530
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   manufacturer_name  38491 non-null  object
 1   model_name         38491 non-null  object
 2   transmission       38491 non-null  object
 3   color              38491 non-null  object
 4   odometer_value     38491 non-null  int64
 5   year_produced      38491 non-null  int64
 6   engine_fuel        38491 non-null  object
 7   engine_has_gas     38491 non-null  bool
 8   engine_type        38491 non-null  object
 9   engine_capacity    38481 non-null  float64
 10  body_type          38491 non-null  object
 11  state              38491 non-null  object
 12  drivetrain         38491 non-null  object
 13  price_usd          38491 non-null  float64
 14  number_of_photos   38491 non-null  int64
 15  up_counter         38491 non-null  int64
 16  duration_listed    38491 non-null  int64
dtypes: bool(1), float64(2), int64(5), object(9)
memory usage: 5.0+ MB

In [9]:
counts = df['manufacturer_name'].value_counts()
threshold = 1000
repl = counts[counts <= threshold].index
df = df.replace(repl, "others")

In [10]:
counts = df['model_name'].value_counts()
threshold = 400
repl = counts[counts <= threshold].index
df['model_name'] = df['model_name'].replace(repl, "others")

In [11]:
df['drivetrain'].value_counts()

drivetrain
front    27710
rear      5396
all       5385
Name: count, dtype: int64

In [12]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, StandardScaler

In [13]:
x = df.iloc[:, :-1]
y = df['duration_listed']

In [14]:
from sklearn.model_selection import train_test_split
nx_train, nx_test, ny_train, ny_test = train_test_split(x, y, test_size=0.2, random_state=42)

## Column Transformation

In [15]:
from sklearn.compose import ColumnTransformer

In [16]:
ct = ColumnTransformer(transformers=[
    ('simpleInputer', SimpleImputer(), ['engine_capacity']),
    ('OneHotEncoder', OneHotEncoder(drop='first', sparse_output=False), 
     ['manufacturer_name', 'model_name', 'transmission', 'color', 'engine_fuel', 'engine_type', 'body_type']),
    ('OrdinalEncoder', OrdinalEncoder(), ['engine_has_gas', 'state', 'drivetrain'])
], remainder='passthrough')

In [17]:
ct = ColumnTransformer(transformers=[
    ('simpleInputer', SimpleImputer(), [9]),
    ('OneHotEncoder', OneHotEncoder(drop='first', sparse_output=False), 
     [0, 1, 2, 3, 6, 8, 10]),
    ('OrdinalEncoder', OrdinalEncoder(), [7, 11, 12]),
    #('StandardScaler', StandardScaler(), slice(0, 63))
], remainder='passthrough')

In [18]:
x_scaled = ct.fit_transform(x)

In [19]:
print(x_scaled.shape)
print(x.shape)

(38491, 62)
(38491, 16)