In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(r"D:\Ultimate Programming\Data Bases\Machine Learning Datasets\Early Disease Detection.xlsx")
df.head()

,date,country,id,active,age,alco,ap_hi,ap_lo,cholesterol,gender,gluc,height,occupation,smoke,weight,disease
0,2021-03-05,Indonesia,0,1,18393,0,110,80,1,2,1,168,Architect,0,62,0
1,2021-05-08,Malaysia,1,1,20228,0,140,90,3,1,1,156,Accountant,0,85,1
2,2022-11-13,Indonesia,2,0,18857,0,130,70,3,1,1,165,Chef,0,64,1
3,2018-10-31,Singapore,3,1,17623,0,150,100,1,2,1,169,Lawyer,0,82,1
4,2020-09-25,Singapore,4,0,17474,0,100,60,1,1,1,156,Architect,0,56,0

In [3]:
df.isnull().sum()

date           0
country        0
id             0
active         0
age            0
alco           0
ap_hi          0
ap_lo          0
cholesterol    0
gender         0
gluc           0
height         0
occupation     0
smoke          0
weight         0
disease        0
dtype: int64