In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_excel(r"D:\Ultimate Programming\Data Bases\Machine Learning Datasets\Early Disease Detection.xlsx")

In [3]:
df.head(2)

,date,country,id,active,age,alco,ap_hi,ap_lo,cholesterol,gender,gluc,height,occupation,smoke,weight,disease
0,2021-03-05,Indonesia,0,1,18393,0,110,80,1,2,1,168,Architect,0,62,0
1,2021-05-08,Malaysia,1,1,20228,0,140,90,3,1,1,156,Accountant,0,85,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         70000 non-null  datetime64[ns]
 1   country      70000 non-null  object
 2   id           70000 non-null  int64
 3   active       70000 non-null  int64
 4   age          70000 non-null  int64
 5   alco         70000 non-null  int64
 6   ap_hi        70000 non-null  int64
 7   ap_lo        70000 non-null  int64
 8   cholesterol  70000 non-null  int64
 9   gender       70000 non-null  int64
 10  gluc         70000 non-null  int64
 11  height       70000 non-null  int64
 12  occupation   70000 non-null  object
 13  smoke        70000 non-null  int64
 14  weight       70000 non-null  int64
 15  disease      70000 non-null  int64
dtypes: datetime64[ns](1), int64(13), object(2)
memory usage: 8.5+ MB

In [5]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for col in df.select_dtypes(include='object').columns:
    df[col] = le.fit_transform(df[col])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         70000 non-null  datetime64[ns]
 1   country      70000 non-null  int64
 2   id           70000 non-null  int64
 3   active       70000 non-null  int64
 4   age          70000 non-null  int64
 5   alco         70000 non-null  int64
 6   ap_hi        70000 non-null  int64
 7   ap_lo        70000 non-null  int64
 8   cholesterol  70000 non-null  int64
 9   gender       70000 non-null  int64
 10  gluc         70000 non-null  int64
 11  height       70000 non-null  int64
 12  occupation   70000 non-null  int64
 13  smoke        70000 non-null  int64
 14  weight       70000 non-null  int64
 15  disease      70000 non-null  int64
dtypes: datetime64[ns](1), int64(15)
memory usage: 8.5 MB

In [7]:
df.drop(columns=['date'],inplace=True)

In [8]:
df.head(1)

,country,id,active,age,alco,ap_hi,ap_lo,cholesterol,gender,gluc,height,occupation,smoke,weight,disease
0,1,0,1,18393,0,110,80,1,2,1,168,1,0,62,0

# Forward Elimination

In [9]:
x = df.iloc[:,:]
y = df['occupation']

In [10]:
print(x.shape)
print(y.shape)

(70000, 15)
(70000,)

In [11]:
from mlxtend.feature_selection import SequentialFeatureSelector
from sklearn.linear_model import LogisticRegression

In [12]:
lr = LogisticRegression()

In [13]:
sfs = SequentialFeatureSelector(lr, k_features=5, forward=True)

In [ ]:
sfs.fit(x,y)

In [25]:
sfs.feature_names

['country',
 'id',
 'active',
 'age',
 'alco',
 'ap_hi',
 'ap_lo',
 'cholesterol',
 'gender',
 'gluc',
 'height',
 'occupation',
 'smoke',
 'weight',
 'disease']

In [26]:
sfs.k_feature_names_

('country', 'active', 'alco', 'occupation', 'smoke')

In [32]:
score = sfs.k_score_
print(score)

0.9978714285714286