In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
col = ['twitter_id', 'entity', 'sentiment', 'tweet_content']
train_data = pd.read_csv(r"D:\Ultimate Programming\Data Bases\Project Dataset\Twitter\twitter_training.csv")
val_data = pd.read_csv(r"D:\Ultimate Programming\Data Bases\Project Dataset\Twitter\twitter_validation.csv")

train_data.columns = col
val_data.columns = col

In [3]:
train_data.head(2)

,twitter_id,entity,sentiment,tweet_content
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...

In [4]:
val_data.head(2)

,twitter_id,entity,sentiment,tweet_content
0,352,Amazon,Neutral,BBC News - Amazon boss Jeff Bezos rejects clai...
1,8312,Microsoft,Negative,@Microsoft Why do I pay for WORD when it funct...

## Data Cleaning Part

In [6]:
(train_data.isnull().sum().sum() / (train_data.shape[0] * train_data.shape[1])) * 100

np.float64(0.2296434166655508)

In [7]:
train_data.dropna(inplace=True)

In [8]:
(train_data.isnull().sum().sum() / (train_data.shape[0] * train_data.shape[1])) * 100

np.float64(0.0)

In [9]:
(val_data.isnull().sum().sum() / (val_data.shape[0] * val_data.shape[1])) * 100

np.float64(0.0)