In [1]:
import pandas as pd

In [2]:
df = pd.read_json('structured_car_data_cleaned.json')

In [3]:
df.head(2)

,name,price,fuel,mileage,transmission,cc,power,safety,seats,type
0,Maruti Suzuki Ertiga,Rs.8.84 - 13.13 Lakh* (View On Road Price),Petrol/CNG,20.51 kmpl,Manual/Automatic,1462 cc,101.64 bhp,1 Star Safety,None,car
1,Maruti Suzuki Swift,Rs.6.49 - 9.64 Lakh* (View On Road Price),Petrol/CNG,25.75 kmpl,Manual/Automatic,1197 cc,80.46 bhp,4 Star Safety,None,car

## Data Cleaning

In [4]:
df.rename(columns={'price' : 'price[On Road]'}, inplace=True)

In [5]:
df.head(1)

,name,price[On Road],fuel,mileage,transmission,cc,power,safety,seats,type
0,Maruti Suzuki Ertiga,Rs.8.84 - 13.13 Lakh* (View On Road Price),Petrol/CNG,20.51 kmpl,Manual/Automatic,1462 cc,101.64 bhp,1 Star Safety,None,car

In [6]:
df['price[On Road]'] = df['price[On Road]'].replace(r'\* \(View On Road Price\)','', regex=True)

In [7]:
df.head(2)

,name,price[On Road],fuel,mileage,transmission,cc,power,safety,seats,type
0,Maruti Suzuki Ertiga,Rs.8.84 - 13.13 Lakh,Petrol/CNG,20.51 kmpl,Manual/Automatic,1462 cc,101.64 bhp,1 Star Safety,None,car
1,Maruti Suzuki Swift,Rs.6.49 - 9.64 Lakh,Petrol/CNG,25.75 kmpl,Manual/Automatic,1197 cc,80.46 bhp,4 Star Safety,None,car

In [8]:
df['mileage'] = df['mileage'].replace(r'\ kmpl', '', regex=True)
df['cc'] = df['cc'].replace(r'\ cc', '', regex=True)
df['power'] = df['power'].replace(r'\ bhp', '', regex=True)
df['safety'] = df['safety'].replace(r'\ Safety','', regex=True)

In [9]:
df.head(3)

,name,price[On Road],fuel,mileage,transmission,cc,power,safety,seats,type
0,Maruti Suzuki Ertiga,Rs.8.84 - 13.13 Lakh,Petrol/CNG,20.51,Manual/Automatic,1462,101.64,1 Star,None,car
1,Maruti Suzuki Swift,Rs.6.49 - 9.64 Lakh,Petrol/CNG,25.75,Manual/Automatic,1197,80.46,4 Star,None,car
2,Maruti Suzuki Dzire,Rs.6.84 - 10.19 Lakh,Petrol/CNG,25.71,Manual/Automatic,1197,80,5 Star,None,car

In [10]:
df = df.rename(columns={'mileage' : 'mileage[kmpl]', 'cc' : 'cc[cc]', 'power' : 'power[bhp]'})

In [11]:
df.head(2)

,name,price[On Road],fuel,mileage[kmpl],transmission,cc[cc],power[bhp],safety,seats,type
0,Maruti Suzuki Ertiga,Rs.8.84 - 13.13 Lakh,Petrol/CNG,20.51,Manual/Automatic,1462,101.64,1 Star,None,car
1,Maruti Suzuki Swift,Rs.6.49 - 9.64 Lakh,Petrol/CNG,25.75,Manual/Automatic,1197,80.46,4 Star,None,car

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            504 non-null    object
 1   price[On Road]  504 non-null    object
 2   fuel            504 non-null    object
 3   mileage[kmpl]   499 non-null    object
 4   transmission    415 non-null    object
 5   cc[cc]          385 non-null    object
 6   power[bhp]      217 non-null    object
 7   safety          159 non-null    object
 8   seats           24 non-null     object
 9   type            504 non-null    object
dtypes: object(10)
memory usage: 39.5+ KB

In [14]:
df = df.drop(columns='seats')

In [15]:
print(df.isnull().sum().sum())

845